language: node_js
node_js:
- '10.0'

stages:
  - build
  - deploy

git:
  submodules: false
dist: trusty
sudo: false
cache:
  directories:
    - public
notifications:
  slack: andi-startup:4EvkZ1UZEV4LwZXzvXhDGP8u

# TODO: add S3 integration to copy stage artefacts
jobs:
  include:
  - stage: build
    name: Build static pages
    script: 
      - npm run build
    skip_cleanup: true
  - name: Build docker evolutility
    script:
      - echo "Building commit $TRAVIS_COMMIT"
      - cd misc/docker/evolutility
      - echo "$DOCKER_PW" | docker login -u "$DOCKER_USER" --password-stdin
      - >
        docker build -t andi_evolutility
        --build-arg PG_USER=$PG_USER 
        --build-arg PG_PASS=$PG_PASS
        --build-arg PG_PORT=$PG_PORT ./
      - docker images
      - docker tag andi_evolutility $DOCKER_USER/private:andi_evolutility
      - docker push $DOCKER_USER/private:andi_evolutility
  - name: Build docker form_handler
    script:
      - cd misc/docker/form_handler
      - echo "$DOCKER_PW" | docker login -u "$DOCKER_USER" --password-stdin
      - >
        docker build -t andi_formhandler
        --build-arg ARG_MG_BOX=$MAILGUN_BOX
        --build-arg ARG_MG_KEY=$MAILGUN_KEY
        --build-arg PG_USER=$PG_USER 
        --build-arg PG_PASS=$PG_PASS
        --build-arg PG_PORT=$PG_PORT ./
      - docker images
      - docker tag andi_formhandler $DOCKER_USER/private:andi_formhandler
      - docker push $DOCKER_USER/private:andi_formhandler

  - stage: deploy
    name: Deploy pages to host
    if: branch = master AND type = push AND fork = false
    skip_cleanup: true
    script: 
      - ls public/
      - npm run build
      - rsync -e "ssh -i deploy_ed25519" -r --delete-after --quiet public/ travis@andi.beta.gouv.fr:/var/www/static_ci/
      - >
        curl
        --header "Content-Type: application/json"
        --request POST --data "{\"message\":\"ANDi - Site mis a jour\"}"
        https://hooks.zapier.com/hooks/catch/5355796/oo5ibqz/

  - stage: deploy
    name: Deploy docker evolutility
    if: branch = master AND type = push AND fork = false
    script:
      - ssh -i deploy_ed25519 travis@andi.beta.gouv.fr "echo ${DOCKER_PW} | docker login -u ${DOCKER_USER} --password-stdin"
      - ssh -i deploy_ed25519 travis@andi.beta.gouv.fr "docker pull berzemus/private:andi_evolutility || true"
      - ssh -i deploy_ed25519 travis@andi.beta.gouv.fr "docker stop evolutility || true"
      - ssh -i deploy_ed25519 travis@andi.beta.gouv.fr "docker run -d --rm -p 8080:3000 --add-host=database:172.17.0.1 --ip 172.17.0.2 --name evolutility berzemus/private:andi_evolutility"

  - stage: deploy
    name: Deploy docker form_handler
    if: branch = master AND type = push AND fork = false
    script:
      - ssh -i deploy_ed25519 travis@andi.beta.gouv.fr "echo ${DOCKER_PW} | docker login -u ${DOCKER_USER} --password-stdin"
      - ssh -i deploy_ed25519 travis@andi.beta.gouv.fr "docker pull berzemus/private:andi_formhandler || true"
      - ssh -i deploy_ed25519 travis@andi.beta.gouv.fr "docker stop formhandler || true"
      - ssh -i deploy_ed25519 travis@andi.beta.gouv.fr "docker run -d --rm -p 8070:8080 --add-host=database:172.17.0.1 -v /data/logs:/log --ip 172.17.0.4 --name formhandler berzemus/private:andi_formhandler"

addons:
  ssh_known_hosts: andi.beta.gouv.fr

before_install:
  - openssl aes-256-cbc -K $encrypted_218785b12a81_key -iv $encrypted_218785b12a81_iv -in misc/deploy_ed25519.enc -out deploy_ed25519 -d
  - chmod 600 deploy_ed25519
