/*
@font-face {
  font-family: 'icomoon';
  src:url('../../static/icomoon.ttf?8qifw8') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/

@font-face {
  font-family: 'fontello';
  src:url('../../static/fontello.ttf?7qifw8') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fontello' !important;
  /* font-family: 'icomoon' !important; */
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: "\f31b";
}
.icon-facebook:before {
  content: "\f301";
}
.icon-medium:before {
  content: "\f23a";
}
.icon-twitter:before {
  content: "\e802";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-github:before {
  content: "\e800";
  /*content: "\f09b";*/
}
.icon-one:before {
  content: "\f14a";
  /*content: "\f09b";*/
}
.icon-two:before {
  content: "\e821";
  /*content: "\f09b";*/
}
.icon-three:before {
  content: "\e822";
  /*content: "\f09b";*/
}
.icon-four:before {
  content: "\f181";
  /*content: "\f09b";*/
}
.icon-arrow-down:before {
  content: "\e81d";
  /* content: "\e819"; */
}
.icon-arrow-up:before {
  content: "\e81e";
  /* content: "\e81a"; */
}
