/*
@font-face {
  font-family: 'icomoon';
  src:url('../../static/icomoon.ttf?8qifw8') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/

@font-face {
  font-family: 'fontello';
  src:url('../../static/fontello.ttf?8qifw8') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fontello' !important;
  /* font-family: 'icomoon' !important; */
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: "\f31b";
}
.icon-facebook:before {
  content: "\f301";
}
.icon-medium:before {
  content: "\f23a";
}
.icon-twitter:before {
  content: "\e802";
}
.icon-github:before {
  content: "\e800";
  /*content: "\f09b";*/
}
