
body, html {
    overflow: hidden auto;
}

#map_object {
    height:400px;
}

#andi_body {
    max-width:160rem;
    margin:auto;
}

@media (min-width: 1200px) {
    .hero__p, .title_wrapper a {
        margin-left:12.6%;
    }
}

