/* Non, c'est pas beau, mais il faut aller vite ! */
.section-flex {
    display: flex;
    align-items:stretch;
}

.opt_img {
}

.illu-1 {
  max-width: 424px;
  object-fit: contain;
}

.team-startup-illu {
  object-fit: contain;
  max-width: 502px;
  height:auto;
}

/* FOCUS */
body a.button:focus,
body a:focus,
input:focus,
input[type=text]:focus,
input[type=email]:focus {
    outline:5px dotted #888;
    outline-offset:2px;
}
/*
a:focus {
  text-decoration: underline;
  color: #0053b3;
  color: var(--theme-primary);
}

input:focus,
textarea:focus,
select:focus {
  border-color: #006be6;
  border-color: var(--theme-border-active);
  -webkit-transition: border-color 0.2s ease-out;
  transition: border-color 0.2s ease-out;
}

select:focus {
  outline: none;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
*/
/*****************************/


label {
    padding-bottom:.4em;
}

.container-leftpad {
    padding-left:6rem;
}

body a.fullwidth {
    width:100% !important;
    text-align:center !important;
}

.number {
    font-size:5rem;
    font-weight:bold;
    color: #53657d;
    font-family: 'Evolventa';
    }

.text-bold {
    font-weight:bold;
}

.text_1 { max-width:40em; padding-left:5em; }
.text_2 { max-width:30em; padding-left:5em; }


.numlist > * {
  flex-basis:0;
  flex-grow:1;
  padding:.5rem;
}

.pane {
    padding: 3em;
    padding: var(--space-xl);
    margin:0;
}

.formrow {
    max-width:1200px;
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.leftpane {
    background-image: linear-gradient(to left, #0053b3, #003b80);
    color:#fff;
}
.leftpane a {
  color: #fff;
  color: var(--white);
}

.leftpane a:hover {
  background: #53657d;
  background: var(--darker-grey);
}


@media (max-width: 850px) {
  .opt_img {
    display:none;
  }
    .text_1 { max-width:50em; }
    .text_2 { max-width:50em; }
}

/* svg curve */
.svg_1, .svg_2 {
  width: 100%;
  height: 100%;
}

.svg_1 path { fill: #ebeff3; }
.svg_1 rect { fill: #fff; }
.svg_2 rect { fill: #ebeff3; }
.svg_2 path { fill: #fff; }

.svg_container {
  --divider-height: 4rem;
  
  position: relative;
  top: calc( var(--divider-height)/2 * -1 );

  height: var(--divider-height);
  width: 100%;
    /* alternatively, could get rid of the rect, and move the svg container further down */

  float: left; 
  z-index: 1;
  
/*   outline: 1px solid red; */
}
