[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
behave = "*"
flake8 = "*"
pylint = "*"
isort = "*"

[packages]
flask = "*"
requests = "*"
pyyaml = "*"
pickledb = "*"
pgware = {editable = true,git = "https://github.com/PieterjanMontens/pgware.git"}
liquidpy = "*"
waitress = "*"
mistune = "*"

[requires]
python_version = "3.7"
